<div class="sous-assemblages-list-page">
    <div class="header">
        <button mat-icon-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">Sous-assemblages de "{{assemblageName}}"</span>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" (click)="openAdd()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="sous-assemblages-cards">
        <mat-card class="sous-assemblage-card" *ngFor="let sa of sousAssemblages">
            <mat-card-header>
                <mat-card-title>{{ sa.nom }}</mat-card-title>
                <mat-card-subtitle>
                    <span class="statut" [ngClass]="sa.statut">{{ sa.statut }}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="description">{{ sa.description }}</div>
                <div class="meta">
                    <span><mat-icon>calendar_month</mat-icon> {{ sa.dateCreation | date:'short' }}</span>
                    <span><mat-icon>person</mat-icon> {{ sa.createurUsername }}</span>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button color="primary" (click)="openEdit(sa)" matTooltip="Modifier">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="remove(sa)" matTooltip="Supprimer">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="!loading && !sousAssemblages.length" class="no-sous-assemblage-msg">
        Aucun sous-assemblage trouvé.
    </div>

    <mat-spinner *ngIf="loading"></mat-spinner>
</div>
